body {
    font-family: Arial, sans-serif;
    background-image: url('../IMAGENES/servicios-salon-barberia.jpeg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Color de texto principal */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 100px;
    align-items: center;
    background: rgba(48, 47, 47, 0.9); /* Fondo semi-transparente para formularios */
    width: 800px;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    vertical-align: middle;
}

h2 {
    text-align: center;
}

p {
    margin: 0;
}
.dtn {
    display: block;
    width: 120px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #cf2d3a; /* Color de fondo del botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.dtn:hover {
    background-color: #dd4b57; /* Cambio de color al pasar el ratón */
}
